
body{
        background: grey;

       }
    h1{
        color:bisque;
        border: 5px double aqua;
        border-left: 5px double blue;
        border-top: 5px double rgb(238, 149, 149);
         border-right: 5px double antiquewhite;
         border-radius: 30px;
         text-align: center;
         background: black;
    }
    p{
        color: aqua;
    }

    .exemplo-back{
        height: 300px;
        background-color:burlywood;
        background-image:url(pexels-geronimo-junior-2605963-5803749.jpg);
        background-size:contain;
        background-repeat:no-repeat;
        background-position: top;
   
    }